@inject Blazored.LocalStorage.ILocalStorageService localStore



<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">ClientApp</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>
<ul class="nav flex-column">

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="nav flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Home" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="AddBookingTEMP">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> AddBooking
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="ShowBookingTEMP">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> ShowBookings
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="AddWindowTEMP">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> AddWindow
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="AddUserTEMP">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> AddUser
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="AddCustomerTEMP">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> AddCustomer
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Login">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Login
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="PriceCalculator">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> PriceCalculator
            </NavLink>
        </div>
        
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Kalender">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Kalender
            </NavLink>
        </div>
      
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="AdminAddBooking">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> AdminAddBooking      
            </NavLink>
        </div>
          
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="OneTimeBooking">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Enkelt booking 
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="mybookings">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Mine bookinger 
        
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="SubscriptionBooking">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Opret abonnement 
            </NavLink>
        </div>
        
           
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="ChangeWindowsAndPricing">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> change windows 
            </NavLink>
        </div>
          
    </nav>
</div>
</ul>

@code {
    private bool collapseNavMenu = true;
    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;
    

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}