@using ClientApp.Service
@using Core.Models
@inject Blazored.LocalStorage.ILocalStorageService localStore
@inject UserState userState

<nav class="navmenu-root">
    



@if (userState.CurrentUser is null)
{
    <text></text>   <!-- show nothing until loaded -->
}

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Tvilum</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>
<ul class="nav flex-column">

    <div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
        <nav class="nav flex-column">
        
            <!-- -------------------- All Usertypes -------------------- -->
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="Home" Match="NavLinkMatch.All">
                    <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Hjem
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="AddUserTEMP">
                    <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Tilføj bruger
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="Login">
                    <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Login
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="PriceCalculator">
                    <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Pris Beregner
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="contact">
                    <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Kontakt
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="Register">
                    <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Register
                </NavLink>
            </div>
            <!-- -------------------- Customer only -------------------- -->
            @if (userState.CurrentUser is not null && 
                 userState.CurrentUser.Usertype == User.UserType.Customer)
            {
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="mybookings">
                        <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Mine bookinger
                    </NavLink>
                </div>
            }


            <!-- -------------------- Worker only -------------------- -->
        
            @if (userState.CurrentUser is not null && userState.CurrentUser.Usertype == User.UserType.Worker)
            {
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="CustomerList">
                        <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Kunde Liste
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="ShowWorkTasks">
                        <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Vis arbejdsopgaver
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="AdminAddBooking">
                        <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Admin tilføj booking
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="ShowBookingTEMP">
                        <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Vis bookinger
                    </NavLink>
                </div>
            }

        </nav>
    </div>
</ul>
</nav>

@code {
    private bool collapseNavMenu = true;
    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;
    

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}