@using ClientApp.Service
@using Core.Models
@inject UserState userState

<nav class="navmenu-root @(IsOpen ? "open" : "closed")">

    <!-- BRAND / LOGO -->
    <div class="nav-header">
        <span class="nav-logo">Tvilum</span>
    </div>

    <!-- NAV LINKS -->
    <ul class="nav flex-column">

        <li class="nav-item">
            <NavLink class="nav-link" href="/" Match="NavLinkMatch.All">
                <span class="bi bi-house"></span>
                Hjem
            </NavLink>
        </li>

        <li class="nav-item">
            <NavLink class="nav-link" href="PriceCalculator">
                <span class="bi bi-calculator"></span>
                Pris beregner
            </NavLink>
        </li>

        <li class="nav-item">
            <NavLink class="nav-link" href="contact">
                <span class="bi bi-envelope"></span>
                Kontakt
            </NavLink>
        </li>
        
        @if (userState.CurrentUser == null)
        {
            <li class="nav-item">
                <NavLink class="nav-link" href="Register">
                    <span class="bi bi-person-plus"></span>
                    Opret bruger
                </NavLink>
            </li>
        }

        @if (userState.CurrentUser?.Usertype == User.UserType.Customer)
        {
            <li class="nav-item">
                <NavLink class="nav-link" href="mybookings">
                    <span class="bi bi-calendar-check"></span>
                    Mine bookinger
                </NavLink>
            </li>
        }

        @if (userState.CurrentUser?.Usertype == User.UserType.Worker)
        {
            <li class="nav-item">
                <NavLink class="nav-link" href="CustomerList">
                    <span class="bi bi-people"></span>
                    Kunder
                </NavLink>
            </li>

            <li class="nav-item">
                <NavLink class="nav-link" href="ShowWorkTasks">
                    <span class="bi bi-list-task"></span>
                    Arbejdsopgaver
                </NavLink>
            </li>
            
            <li class="nav-item">
                <NavLink class="nav-link" href="Booking-page">
                    <span class="bi bi-journal-text"></span>
                    Bookinger
                </NavLink>
            </li>
            
            <li class="nav-item">
                <NavLink class="nav-link" href="AdminAddBooking">
                    <span class="bi bi-journal-text"></span>
                    Tilføj booking
                </NavLink>
            </li>
        }
    </ul>
</nav>

@code {
    [Parameter]
    public bool IsOpen { get; set; }
}