.modal-overlayv2 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-windowv2 {
    background: white;
    width: 80%;
    max-width: 900px;

    max-height: 80vh;
    overflow-y: auto;

    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0,0,0,0.25);
    z-index: 1000;
}
