@using Core.Models
@using ClientApp.Service
@using Blazored.LocalStorage
@inject IUser userService
@inject ILocalStorageService localStorage
@page "/AddUserTEMP"

<h3>Midlertidig tilføj bruger/medarbejder</h3>

<EditForm Model="@user" OnValidSubmit="@HandleSubmit" class="row p-3">
<DataAnnotationsValidator />
<ValidationSummary />
    
<div class="col-md-12 mb-3">
    <label for="Name">Username</label>
    <InputText id="Name" @bind-Value="user.Username" class="form-control" />
</div>

    
<div class="col-md-12 mb-3">
    <label for="Name">Password</label>
    <InputText id="Password" @bind-Value="user.Password" type="password" class="form-control" />
</div>

<div class="col-md-12 mb-3">
    <label for="Category">Bruger typen</label>
    <InputSelect id="usertype" @bind-Value="user.Usertype">
        @foreach (var usertype in Enum.GetValues<User.UserType>())
        {
            <option value="@usertype">@User.GetLabel(usertype)</option>
        }
    </InputSelect>
</div>

<div class="col-12 mb-3">
    <button type="submit" class="btn btn-primary" >Opret Bruger</button>
</div>
    
<div class="col-12 mb-3">
    <button type="reset" class="btn btn-primary">Reset</button>
</div>

</EditForm> 


@code {
    
    private User user = new User();

    private void HandleSubmit()
    {
        userService.Add(user);
        user = new User();
    }
    
    
    protected override async Task OnInitializedAsync()
    {
        //local storage implementation
        var loadedUser = await localStorage.GetItemAsync<User>("currentUser");
        
        if (loadedUser != null)
        {
            //Uncomment linje under
            //user = loadedUser;
        }
    }
    
}