@page "/aktiveannoncer"
@using Core.Models
@using ClientApp.Service
@using ClientApp.Components
@using System.Linq

<h3>Aktive annoncer</h3>

@if (aktiveAnnoncer == null)
{
    <p>Loader annoncer...</p>
}
else if (!aktiveAnnoncer.Any())
{
    <p>Ingen aktive annoncer.</p>
}
else
{
    @foreach (var a in aktiveAnnoncer)
    {
        <Annoncecomponent Item="a" IsEdit="false" />
    }
}

@code {
    [Inject] private IAnnonce annonceService { get; set; }

    private Annonce[] aktiveAnnoncer;

    protected override async Task OnInitializedAsync()
    {
        aktiveAnnoncer = await annonceService.GetAll();
    }
}