@page "/BookingConfirmation"
@inject NavigationManager navigationManager

        <!-- Booking bekræftelse -->
        <div class="confirmation-overlay">
            <div class="confirmation-card">
            <button class="confirmation-close" @onclick="GoToHome">X</button>
            
                <p class="confirmation-title">
                    Tak for din booking!
                </p>
                <p class="confirmation-body">
                    Din anmodning er modtaget, og du får en bekræftelse inden for 1–2 hverdage.
                    Har du spørgsmål i mellemtiden, er du velkommen til at kontakte mig.
                </p>

            <button class="confirmation-bookings-btn" @onclick="GoToMyBookings">
                Se mine bookinger
            </button>
        </div>
    </div>
        

@code {
    
    void GoToHome()
    {
        navigationManager.NavigateTo("/Home");
    }

    void GoToMyBookings()
    {
        navigationManager.NavigateTo("/mybookings");
    }
    
}