@page "/Contact"

<h2>Kontakt</h2>

<p>Har du spørgsmål til din pudsning eller din booking, er du velkommen til at kontakte os:</p>

<ul>
    <li><strong>Vinduespudser:</strong> Jamie Tvilum</li>
    <li><strong>Telefon:</strong> 22 34 56 78</li>
    <li><strong>E-mail:</strong> Jamietvilum@gmail.com</li>
</ul>

<p>Vi bestræber os på at svare inden for 24 timer.</p>

