@page "/"
@page "/Home"
@using ClientApp.Service
@inject NavigationManager navigationManager
@inject UserState userState
@inject Blazored.LocalStorage.ILocalStorageService localStorage


<div class="home-container">
    <section class="hero">
        <img src="image/Logo/HomeBillede.png" class="hero-img" />

        <div class="hero-content">
            <h1>Tvilum Vinduespudsning</h1>
            <p>Professionel vinduespudsning – nemt og hurtigt</p>

            <button class="cta-button" @onclick="GoToCalculator">
                Beregn pris
            </button>
        </div>
    </section>
</div>

@code {
    void GoToCalculator()
    {
        navigationManager.NavigateTo("/PriceCalculator");
    }
}