@page "/"
@page "/Home"
@using ClientApp.Service
@inject NavigationManager navigationManager
@inject UserState userState
@inject Blazored.LocalStorage.ILocalStorageService localStorage


<div class="home-container">

    <div class="hero">
        <img src="image/Logo/HomeBillede.png" class="hero-img" />

        <button class="cta-button" @onclick="GoToCalculator">
            BEREGN PRIS
        </button>
    </div>

</div>

@code {
    void GoToCalculator()
    {
        navigationManager.NavigateTo("/PriceCalculator");
    }
}