@page "/Login"
@using Blazored.LocalStorage
@using Core.Models
@using ClientApp.Service
@inject IUser userRepo
@inject ILocalStorageService localStorage
@inject UserState userState
@inject NavigationManager nav 
<PageTitle>Log ind</PageTitle>

<div class="login-page-background">
    <div class="login-container">
        
        <h3>Log ind</h3>
        
        <EditForm Model="@user" OnValidSubmit="OnClickLogin">
            <DataAnnotationsValidator/>

            <div class="form-floating-group">
                <InputText id="un" class="form-control" @bind-Value="user.Username" placeholder="Username"/>
                <label for="un">Brugernavn</label>
            </div>

            <div class="form-floating-group">
                <InputText id="un" class="form-control" @bind-Value="user.Password" placeholder="Username"/>
                <label for="un">Adgangskode</label>
            </div>

            <div style="text-align: center">
                <button type="submit" class="btn btn-primary">Log ind</button>
            </div>
        </EditForm>
        
        <button class="btn btn-danger" @onclick="OnClickLogout">
            Log ud
        </button>
    </div>
</div>

@if (LoadedUser != null)
{
    <h3>Logget ind med følgende:</h3>
    <h3>Brugernavn: @LoadedUser.Username</h3>
    <h2>Type: @User.GetLabel(LoadedUser.Usertype)</h2>
}

@code {
    private User user = new();

    private User LoadedUser = new();

    private List<Customer> AllCustomers = new List<Customer>();

    private List<Worker> AllWorkers = new List<Worker>();
    
    private async Task OnClickLogin()
    {
        Console.WriteLine("login clicked");
        
        //undgå crash fra tom login
        if (string.IsNullOrWhiteSpace(user.Username) || string.IsNullOrWhiteSpace(user.Password))
        {
            Console.WriteLine("Username and Password are required");
            return;
        }
        
        var userObject = await userRepo.ValidateUser(user);
        
        if (userObject != null)
        {
            Console.WriteLine("userobject:" + userObject.Usertype);
            
            // Ryd gammel login
            await localStorage.RemoveItemAsync("currentUser");
            userState.CurrentUser = null;
            

        // Gem nyt login
            await localStorage.SetItemAsync("currentUser", userObject);
            userState.CurrentUser = userObject;
            
            user = userObject;
            LoadedUser = userObject;
            Console.WriteLine("type: " + LoadedUser.Usertype);
            
            nav.NavigateTo("/Home", true);
        }
    }

    private async Task OnClickLogout()
    {
        user = new();
        LoadedUser = new User();
        
        userState.CurrentUser = null;   // ← vigtig linje
        
        await localStorage.RemoveItemAsync("currentUser");
        Console.WriteLine("User logged out");
        
        nav.NavigateTo("/login", true); // reload app
    }

    protected override async Task OnInitializedAsync()
    {
        //henter brugeren fra localstorage
        var loadedUser = await localStorage.GetItemAsync<User>("currentUser");


        if (loadedUser != null)
        {
            //sætter data i lokale(din computer) logIn side
            user = loadedUser;
            LoadedUser = loadedUser;
            //Gendanner den loggede bruger i UserState (RAM=appens hukommelse mens den kører)
            userState.CurrentUser = loadedUser;
        }

        AllCustomers = await userRepo.GetCustomers();

        AllWorkers = await userRepo.GetWorkers();
        
     
    }

}
