@page "/PriceCalculator"
@using Core.Models
@using ClientApp.Components
@inject Blazored.LocalStorage.ILocalStorageService localStorage
@inject IWindow windowService

<h3>Price Calculator</h3>
<WindowPriceCalculator Booking="@booking" />



@code {
    private Booking booking = new();

    private void OnButtonClick()
    {
        //Foreach var in booking.Window{booking.Price =+ booking.Window.Price}
        //booking -> localstorage
    }
}