@page "/Register"
@using Core.Models
@using ClientApp.Service
@using ClientApp.Components
@inject IUser userService
@inject NavigationManager nav
@inject Blazored.LocalStorage.ILocalStorageService localStorage

<h3>Opret bruger</h3>

<CustomerForm customer="customer" ButtonText="Opret Konto" OnSubmit="RegisterCustomer" />

@code {
    private Customer customer = new();

    private async Task RegisterCustomer(Customer c)
    {
        c.Usertype = User.UserType.Customer;
        
        await userService.Add(c);

        // sæt brugeren som logget ind
        await localStorage.SetItemAsync("currentUser", (User)c);

        // læs returnType (men fjern den IKKE endnu)
        var returnType = await localStorage.GetItemAsync<string>("returnType");
        Console.WriteLine("DEBUG returnType: " + returnType);

        // send altid tilbage til PriceCalculator.
        // PriceCalculator vil selv checke returnType og åbne korrekt modal.
        nav.NavigateTo("/PriceCalculator");
        
    }

}
