@page "/Register"
@using Core.Models
@using ClientApp.Service
@using ClientApp.Components
@inject IUser userService
@inject UserState userState
@inject NavigationManager nav
@inject Blazored.LocalStorage.ILocalStorageService localStorage

<h3>Opret bruger</h3>

<CustomerForm customer="customer" ButtonText="Opret Konto" OnSubmit="RegisterCustomer" />

@code {
    private Customer customer = new();
    
    [Parameter] 
    [SupplyParameterFromQuery]
    public string returnUrl { get; set; }

    private async Task RegisterCustomer(Customer customer)
    {
        customer.Usertype = User.UserType.Customer;
        await userService.Add(customer);

        userState.CurrentUser = customer;

        // Set the user as logged in
        await localStorage.SetItemAsync("currentUser", customer);

        if (!string.IsNullOrEmpty(returnUrl))
        {
            // Navigate to the page that originally sent the user
            nav.NavigateTo("/" + returnUrl);
        }
        else
        {
            // Default fallback
            nav.NavigateTo("/");
        }
    }

}
