@page "/Register"
@using Core.Models
@using ClientApp.Service
@using ClientApp.Components
@inject IUser userService
@inject UserState userState
@inject NavigationManager nav
@inject Blazored.LocalStorage.ILocalStorageService localStorage

<div class="page-wrapper">

    <div class="page-header">
        <h1 class="page-title">Opret bruger</h1>
        <p class="page-subtitle">
            Opret en konto for at kunne beregne pris og booke vinduespudsning
        </p>
    </div>

    <div class="form-card">
        <CustomerForm
            customer="customer"
            ButtonText="Opret Konto"
            OnSubmit="RegisterCustomer" />
    </div>
    <div class="auth-alt">
        <span>Allerede bruger?</span>
        <a href="/Login">Log ind</a>
    </div>

</div>
@code {
    private Customer customer = new();
    
    [Parameter] 
    [SupplyParameterFromQuery]
    public string returnUrl { get; set; }

    private async Task RegisterCustomer(Customer customer)
    {
        customer.Usertype = User.UserType.Customer;
        await userService.Add(customer);

        userState.CurrentUser = customer;

        // Set the user as logged in
        await localStorage.SetItemAsync("currentUser", customer);

        if (!string.IsNullOrEmpty(returnUrl))
        {
            // Navigate to the page that originally sent the user
            nav.NavigateTo("/" + returnUrl);
        }
        else
        {
            // Default fallback
            nav.NavigateTo("/");
        }
    }

}
